<div class="modal fade" id="exampleModalSMS<%= collaborator.id  %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Send <%= collaborator.first_name %> <%=collaborator.last_name  %> a new message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center;">
         <%= simple_form_for [colevent, message] do |f| %>

          <%= f.input :content, as: :text, input_html: { value:"Are you ok #{collaborator.first_name} #{collaborator.last_name}? Answer 1 if you are." } %>
          <%= f.input :phone_number, as: :hidden, input_html: { value: collaborator.phone_pro }  %>

         <div class="mess">
          <div class="he"><span class="left">Messages</span>
            <span class="name">McClane</span><span class="right">Contact</span>
          </div>
          <div class="messages-wrapper">
            <br>
            <div class="message to" style="text-align: right;">Are you ok <%= collaborator.first_name %> <%= collaborator.last_name %>? Answer 1 if you are."</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Send", class: "btn-main", data: { confirm: 'Do you really want to send this message?' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
