
<div class="container">
  <div class="main-container">
    <div class="card-show">
      <h1>Alerts index</h1>
      <br>
      <%= link_to 'New Event', new_event_path, method: :get, class: "btn-main" %>

      <% @events.each do |event| %>
      <div class="archive">
        <div class="archive-body">
          <% # name = event.templates[0].content.split(' ')[0..4].join(' ') unless event.templates[0].nil? %>
          <% clock = (event.created_at + 3600).strftime("%e %B %Y %H:%M:%S") %>
          <% safe_perc = event.colevents.where(safe: "safe").count * 100 / event.colevents.count unless event.colevents.count == 0%>
          <p><strong><%= clock %></strong></p>
          <p>Alert status:
            <% if event.status == "ongoing" %>
              <span style= "color: #E67E22;">on-going</span>
            <% else %>
              <span style= "color: #17b978;">closed at <%= Time.parse(event.end_date).strftime("%d/%m/%Y")%></span>
            <% end %></p>
            <p><%= safe_perc || 100%>% of people are safe</p>

        </div>
        <div class="archive-status">
          <%= link_to event_path(event) do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
