<div class="container">

  <!-- Navigation -->
  <%= render 'nav_events' %>


  <!-- Form with tags input-->
  <div class="main-container">
    <div class="card-show" style="padding: 60px;">

     <h1>New alert</h1>



     <%= simple_form_for @event do |f| %>
     <div class="alert-step active">
      <%= f.fields_for :search do |search_form|  %>
      <!-- <div class="form-group">
        <%#= select_tag "continent", options_from_collection_for_select(@continents, :name, :name), class: 'select2-continent form-control', multiple: true, label: "Continent"%>
      </div>

      <div class="form-group">
        <%#= select_tag "country", options_from_collection_for_select(@countries, :name, :name), class: 'select2-country form-control', multiple: true %>
      </div>

      <div class="form-group">
        <%#= select_tag "city", options_from_collection_for_select(@cities, :name, :name),
        class: 'select2-city form-control', multiple: true %>
      </div> -->

      <div class="form-group">
        <%= select_tag "area", options_from_collection_for_select(@continents + @countries + @cities, :name, :name), class: 'select2-area form-control', multiple: true, label: "continent, country, city"%>
      </div>

      <!-- Input SMS part of the form -->

      <% end  %>




      <button class="btn btn-main" id="switcher"> Write your alert</button>

      <div class="circle-text">
        <div>
          <span id="collaborators-count"><%= current_user.collaborators.count  %></span> Collaborators
        </div>
      </div>
    </div>

    <div class="alert-step">
      <%= f.fields_for :template do |template_form| %>
      <%= template_form.input :description, as: :text,
      input_html: { value:"An [EVENT PLEASE COMPLETE] occured, please answer '1' if you're safe" } %>
      <% end %>

      <div class="form-actions">
        <%= f.submit "Send", class: "btn-main", data: { confirm: 'Do you really want to send this message?' } %>
        <% end %>
      </div>
      <div class="mess">
        <div class="he"><span class="left">Messages</span>
          <span class="name">McClane</span><span class="right">Contact</span>
        </div>
        <div class="messages-wrapper">
          <br>
          <div class="message to" style="text-align: right;">An [EVENT PLEASE COMPLETE] occured, please answer '1' if you're safe</div>
          <br><br><br><br><br><br><br><br><br><br><br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
