<div class="container">

  <!-- Navigation -->

  <div class="main-container">
    <div class="nav-show">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">1. SMS creation</a></li>
        <li role="presentation" class="disabled"><a href="#">2. Employee selection</a></li>
        <li role="presentation" class="disabled"><a href="#">3. Alert dashboard</a></li>
      </ul>
    </div>
  </div>


  <!-- Form with tags input-->
  <div class="main-container">
    <div class="card-show">

     <h1>New alert</h1>

     <div class="form-group">
      <%= simple_form_for @event do |f| %>
      <%= f.fields_for :search do |search_form|  %>
      <%= select_tag "continent2", options_from_collection_for_select(
        @continents, :name, :name),
        class: 'select2-continent form-control', multiple: "multiple", label: "Continent" %>
      </div>

      <div class="form-group">
        <%= select_tag "Country2", options_from_collection_for_select(
          @countries, :name, :name),
          class: 'select2-country form-control', multiple: "multiple" %>
        </div>

        <div class="form-group">
          <%= select_tag "city2", options_from_collection_for_select(
            @cities, :name, :name),
            class: 'select2-city form-control', multiple: "multiple" %>
          </div>

          <% end  %>

          <%= f.fields_for :template do |template_form| %>
          <%= template_form.input :description, as: :text,
          placeholder:"Your SMS here"%>
          <% end %>

          <div class="form-actions">
            <%= f.submit "Send", class: "btn-main" %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
