<div class="container">
  <h1><%= @event.name%>| <%= @event.status %></h1>

  <!-- Progress bar -->
  <%= render 'progress_bar' %>

  <!-- Filters and edit message -->
  <%= render 'filter_colevent' %>



  <!-- Collaborators table with inline status -->
  <div class="table-space">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Last name</th>
          <th scope="col">First name</th>
          <th scope="col">Status</th>
          <th scope="col">Tags</th>
          <th scope="col" colspan="2" style="text-align: center;">Actions</th>
        </tr>
      </thead>
      <tbody>

      <!-- Each employee -->
      <% @event.colevents.each do |c| %>
      <!-- Collaborator statuts-name modal call -->
      <%= render partial: "shared/collaborator_status_change",
      locals: {collaborator: c.collaborator, safe: c.safe, colevent: c} %>
      <!-- End of collaborator statuts-name modal call -->
      <% if c.safe? %>
        <tr class="bg-success">
      <% else %>
        <tr class="bg-warning">
      <% end %>
          <td><%= c.collaborator.last_name %></td>
          <td><%= c.collaborator.first_name %></td>
          <% if c.safe? %>
            <td>OK</td>
          <% else %>
            <td>Pending</td>
          <% end %>
          <td><%= c.collaborator.continent %>, <%= c.collaborator.country %>, <%= c.collaborator.city %></td>
          <td colspan="2" class="actions-icons"><%= link_to "", "#", class: "fas fa-eye white" %>
          <i type="button" class="fas fa-exchange-alt white" data-toggle="modal" data-target="#exampleModalCenter<%= c.collaborator.id  %>">
          </i><%= link_to "", "#", class: "fas fa-envelope white" %></td>
        </tr>
        <% end %>
      <!-- End employee -->
      </tbody>
    </table>
  </div>

</div>

