<div class="container">

  <!-- Navigation -->
  <div class="main-container">
     <div class="nav-show">
       <ul class="nav nav-pills">
         <li role="presentation" class="disabled navh"><a href="#">1. Collaborators selection</a></li>
         <li role="presentation" class="disabled navh"><a href="#">2. SMS creation</a></li>
         <li role="presentation" class="active navh"><a href="#">3. Dashboard</a></li>
       </ul>
     </div>
   </div>

<div id="sticky-anchor"></div>
<div id="sticky">
  <div class="row" style="margin-top: 10px">
    <div class="col-xs-6">
      <p><% name = @event.templates[0].content.split(' ')[0..4].join(' ') unless @event.templates[0].nil? %>
        <%= name || @event.name %>
      </p>
    </div>
    <div class="col-xs-6" style="text-align: right; margin-top: 10px">
      <% if @event.status == "ongoing" %>
        <%= link_to 'Close event', close_event_path(@event), method: :patch, class: "btn-main", data: { confirm: 'Do you really want to close this event?' }  %>
      <% else %>
        <div style="color: green;">
          <p>Event closed <i class="far fa-check-circle"></i></p>
        </div>
      <% end %>
    </div>
  </div>
  <br>

  <!-- Progress bar -->
  <%= render 'progress_bar' %>
  <!-- Search bar -->
    <div class="form-group pull-left">
      <input type="text" class="search form-control" placeholder="Filter">
    </div>
    <span class="counter pull-left"></span>
    <!-- Edit messages -->
    <div class="pull-right">
      <%= render partial: "shared/edit_messages" %>
      <button type="button" class="btn-main" data-toggle="modal" data-target="#exampleModalLong">
      Edit messages</button>
    </div>
  </div>

  <!-- Collaborators table with inline status -->
  <div class="table-space">
    <table class="table table-dark table-hover results table-responsive">
      <thead>
        <tr>
          <th scope="col" class="center-headers">Last name</th>
          <th scope="col" class="center-headers">First name</th>
          <th scope="col" class="center-headers">Status</th>
          <th scope="col" class="center-headers">Tags</th>
          <th scope="col" colspan="2" class="center-headers">Actions</th>
        </tr>
        <tr class="warning no-result">
          <td colspan="6"><i class="fa fa-warning"></i> No result</td>
        </tr>
      </thead>
      <tbody>

       <!-- Each employee -->

      <% @colevents.each do |c| %>
      <!-- Collaborator statuts-name modal call -->
      <%= render partial: "shared/collaborator_view_message",
      locals: {collaborator: c.collaborator, colevent: c, message: c.messages.last} %>
      <%= render partial: "shared/collaborator_status_change",
      locals: {collaborator: c.collaborator, safe: c.safe, colevent: c} %>
      <%= render partial: "shared/send_specific_sms",
      locals: {collaborator: c.collaborator, colevent: c, message: Message.new} %>
      <!-- End of collaborator statuts-name modal call -->
      <tr id="<%= 'colevent_' + c.id.to_s %>">
          <td class="center-headers"><%= c.collaborator.last_name %></td>
          <td class="center-headers"><%= c.collaborator.first_name %></td>
          <% if c.safe == 'safe' %>
            <td><div class="bubble-safe"></div></td>
          <% elsif c.safe == 'suspect' %>
            <td><div class="bubble-suspect"></td>
          <% else %>
            <td><div class="bubble-pending"></td>
          <% end %>
          <td class="center-headers"><%= c.collaborator.continent %>, <%= c.collaborator.country %>, <%= c.collaborator.city %></td>

          <td colspan="2" class="actions-icons">

            <button style="background-color: transparent; border-color: transparent;" type="button" class="fas fa-eye" data-toggle="modal" data-target="#exampleModalContent<%= c.collaborator.id  %>"></button>
            <button style="background-color: transparent; border-color: transparent;" type="button" class="fas fa-exchange-alt white" data-toggle="modal" data-target="#exampleModalCenter<%= c.collaborator.id  %>"></button>
            <button style="background-color: transparent; border-color: transparent;" type="button" class="fas fa-envelope" data-toggle="modal" data-target="#exampleModalSMS<%= c.collaborator.id  %>"></button>
          </td>
        </tr>
        <% end %>
      <!-- End employee -->
      </tbody>
    </table>
  </div>
</div>
<!-- Action Cable -->
<% content_for :after_js do %>
  <script>
    App['event_<%= @event.id %>'] = App.cable.subscriptions.create(
      { channel: 'StatusUpdatesChannel', event_id: <%= @event.id %> },
      {
        received: (data) => {
          const c_id = data.colevent_id;
          const status = data.safe;
          const c_row = document.getElementById("colevent_" + c_id);
          const c_bubble = c_row.querySelector("td:nth-child(3) div");
          const safe = data.safe_percentage;
          const pending = data.unsafe_percentage;
          const suspect = data.suspect_percentage;

          const progress_safe = document.querySelector('div.progress-bar.bg-success');
          const progress_safe_value = document.querySelector('div.progress-bar.bg-success.progress-bar-striped.active p');

          const progress_suspect = document.querySelector("div.progress-bar.bg-suspect");
          const progress_suspect_value = document.querySelector('div.progress-bar.bg-suspect.progress-bar-striped.active p');


          const progress_pending = document.querySelector("div.progress-bar.bg-warning");
          const progress_pending_value = document.querySelector('div.progress-bar.bg-warning.progress-bar-striped.active p');


          progress_safe.style.width = (safe + "%");
          progress_safe_value.innerHTML = (safe + "%");

          progress_suspect.style.width = (suspect + "%");
          progress_suspect_value.innerHTML = (suspect + "%");

          progress_pending.style.width = (pending + "%");
          progress_pending_value.innerHTML = (pending + "%");

          if (status === "safe") {
            c_bubble.classList.remove("bubble-pending", "bubble-suspect" )
             c_bubble.classList.add("bubble-safe");
          } else if (status === "suspect") {
            c_bubble.classList.remove("bubble-pending", "bubble-safe" );
            c_bubble.classList.add("bubble-suspect");
          }
        }
      }
    )
  </script>
<% end %>
