<div class="container">

  <!-- Navigation -->
  <div class="main-container">
     <div class="nav-show">
       <ul class="nav nav-pills">
         <li role="presentation" class="disabled navh"><a href="#">1. Collaborators selection</a></li>
         <li role="presentation" class="disabled navh"><a href="#">2. SMS creation</a></li>
         <li role="presentation" class="active navh"><a href="#">3. Dashboard</a></li>
       </ul>
     </div>
   </div>

  <div class="row">
    <div class="col-xs-4">
      <p><%= @event.name%>| <%= @event.status %></p>
      <button class="btn btn-danger">Edit messages</button>
    </div>
  </div>


  <!-- Progress bar -->
  <%= render 'progress_bar' %>

  <!-- Edit message -->
  <%= render 'filter_colevent' %>
<br>


  <!-- Collaborators table with inline status -->
  <div class="table-space">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Last name</th>
          <th scope="col">First name</th>
          <th scope="col">Status</th>
          <th scope="col">Tags</th>
          <th scope="col" colspan="2" style="text-align: center;">Actions</th>
        </tr>
      </thead>
      <tbody>

      <!-- Each employee -->
      <% @event.colevents.each do |c| %>
      <!-- Collaborator statuts-name modal call -->
      <%= render partial: "shared/collaborator_status_change",
      locals: {collaborator: c.collaborator, safe: c.safe, colevent: c} %>
      <!-- End of collaborator statuts-name modal call -->
          <td><%= c.collaborator.last_name %></td>
          <td><%= c.collaborator.first_name %></td>
          <% if c.safe? %>
            <td><div class="bubble-safe"></div></td>
          <% else %>
            <td><div class="bubble-pending"></td>
          <% end %>
          <td><%= c.collaborator.continent %>, <%= c.collaborator.country %>, <%= c.collaborator.city %></td>
          <td colspan="2" class="actions-icons"><%= link_to "", "#", class: "fas fa-eye" %>
          <i type="button" class="fas fa-exchange-alt white" data-toggle="modal" data-target="#exampleModalCenter<%= c.collaborator.id  %>">
          </i><%= link_to "", "#", class: "fas fa-envelope" %></td>
        </tr>
        <% end %>
      <!-- End employee -->
      </tbody>
    </table>
  </div>

</div>

