<div class="container">

  <!-- Navigation -->
  <div class="main-container">
    <div class="row">
      <div class="col-xs-12 vertical-alignment">
        <ul id="ul-flex">
          <li id="li-inline"><a class="active"><div class="rail-bubble-active-1">1</div> <p class="one">Collaborators selection</p></a></li><div class="line-left-active"></div>
          <li id="li-inline"><a class="active"><div class="rail-bubble-active-2">2</div> <p class="two">SMS creation</p></a></li>
          <div class="line-right-active"></div>
          <li id="li-inline" ><a class="active"><div class="rail-bubble-active-3">3</div> <p class="three">Dashboard</p></a></li>
        </ul>
        <div class="event">
          <% if @event.status == "ongoing" %>
          <%= link_to 'Close event', close_event_path(@event), method: :patch, class: "close-event", data: { confirm: 'Do you really want to close this event?' }  %>
          <% else %>
          <div class="event-closed">
            <p>Event closed <i class="far fa-check-circle"></i></p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="sticky-anchor"></div>
  <div id="sticky">
    <div class="row" style="margin-top: 10px">
      <div class="col-xs-12 title-event">
        <h3>
          <% if @event.status == "ongoing" %>
            Ongoing alert
          <% else %>
            Alert closed the <%= Time.parse(@event.end_date).strftime("%d/%m/%Y")%>
          <% end %>
        </h3>
      </div>
    </div>
    <!-- Progress bar -->
    <%= render 'progress_bar' %>
    <!-- Search bar -->
    <div class="form-group pull-left">
      <input type="text" class="search form-control filter" placeholder="Filter">
    </div>
    <span class="counter pull-left"></span>
    <!-- Edit messages -->
    <div class="pull-right">
      <%= render partial: "shared/edit_messages" %>
      <button type="button" class="btn-main" data-toggle="modal" data-target="#exampleModalLong">
      Edit messages</button>
    </div>
  </div>
  <!-- Collaborators table with inline status -->
  <div class="table-space" style="width: 90vw;">
    <table class="table table-dark table-hover results table-responsive">
      <thead>
        <tr>
          <th scope="col" class="center-headers">Last name</th>
          <th scope="col" class="center-headers">First name</th>
          <th scope="col" class="center-headers">Status</th>
          <th scope="col" class="center-headers">Tags</th>
          <th scope="col" colspan="2" class="center-headers">Actions</th>
        </tr>
        <tr class="warning no-result">
          <td colspan="6"><i class="fa fa-warning"></i> No result</td>
        </tr>
      </thead>
      <tbody>
      <!-- Each employee -->
       <% @colevents.each do |c| %>
       <!-- Collaborator statuts-name modal call -->
       <%= render partial: "shared/collaborator_view_message",
       locals: {collaborator: c.collaborator, colevent: c, message: c.messages.where(destination: 'inbound').last} %>
       <%= render partial: "shared/collaborator_status_change",
       locals: {collaborator: c.collaborator, safe: c.safe, colevent: c} %>
       <%= render partial: "shared/send_specific_sms",
       locals: {collaborator: c.collaborator, colevent: c, message: Message.new} %>
       <!-- End of collaborator statuts-name modal call -->
       <%= render "events/employee_row", colevent: c %>
       <% end %>
       <!-- End employee -->
     </tbody>
   </table>
  </div>
  </div>

<!-- Action Cable -->
<% content_for :after_js do %>
  <script>
    App['event_<%= @event.id %>'] = App.cable.subscriptions.create(
      { channel: 'StatusUpdatesChannel', event_id: <%= @event.id %> },
      {
        received: (data) => {
          const c_id = data.colevent_id;
          const status = data.safe;
          const c_row = document.getElementById("colevent_" + c_id);
          const c_bubble = c_row.querySelector("td:nth-child(3) div");
          const tbody = document.querySelector('tbody');
          const safe = data.safe_percentage;
          const pending = data.unsafe_percentage;
          const suspect = data.suspect_percentage;

          const progress_safe = document.querySelector('div.progress-bar.bg-success');
          const progress_safe_value = document.querySelector('div.progress-bar.bg-success.progress-bar-striped.active p');

          const progress_suspect = document.querySelector("div.progress-bar.bg-suspect");
          const progress_suspect_value = document.querySelector('div.progress-bar.bg-suspect.progress-bar-striped.active p');


          const progress_pending = document.querySelector("div.progress-bar.bg-warning");
          const progress_pending_value = document.querySelector('div.progress-bar.bg-warning.progress-bar-striped.active p');


          progress_safe.style.width = (safe + "%");
          progress_safe_value.innerHTML = (safe + "%");

          progress_suspect.style.width = (suspect + "%");
          progress_suspect_value.innerHTML = (suspect + "%");

          progress_pending.style.width = (pending + "%");
          progress_pending_value.innerHTML = (pending + "%");

          if (status === "safe") {
            c_bubble.classList.remove("bubble-pending", "bubble-suspect" );
            c_bubble.classList.add("bubble-safe");
            c_row.remove();
            tbody.insertAdjacentHTML('beforeend', data.employee_row_partial);
            console.log(data)
          } else if (status === "suspect") {
            c_bubble.classList.remove("bubble-pending", "bubble-safe" );
            c_bubble.classList.add("bubble-suspect");
            c_row.remove();
            tbody.insertAdjacentHTML('afterbegin', c_row.innerHTML);
            console.log(data)
          }
        }
      }
    )
  </script>
<% end %>
