<div class = "container">
  <h1>Collaborator</h1>

  <%= simple_form_for @collaborator, url: subscription_path, method: :post do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone_pro %>
    <%= f.submit "add my number", class: "btn btn-primary" %>
  <% end %>
</div>


